[submodule "client/ios/boringtun"]
	path = client/ios/boringtun
	url = ../boringtun.git
[submodule "client/android/wireguard-android"]
	path = client/android/wireguard-android
	url = git@github.com:DefGuard/wireguard-android.git
