IOS_UDID=
APPLE_TEAM_ID=
IOS_BUNDLE_ID=net.defguard.mobile
IOS_APP=../client/build/ios/ipa/Defguard.ipa
CORE_URL=
PROXY_URL=
CORE_ADMIN_USER=admin
CORE_ADMIN_PASSWORD=
TEST_USERNAME=e2e_mobile_user
NETWORK_NAME=mobile_e2e_test
GATEWAY_VPN_IP=20.20.20.1
