name: Run Flutter Lint and Tests

on:
  push:
    branches:
      - main
      - dev
      - 'release/**'
      - 'hotfix/**'
    paths-ignore: &ignored_paths
      - "*.md"
      - "LICENSE"
      - "flake.*"
  pull_request:
    branches:
      - main
      - dev
      - 'release/**'
      - 'hotfix/**'
    paths-ignore: *ignored_paths

jobs:
  lint:
    name: Lint and test
    runs-on: [self-hosted, Linux]
    defaults:
      run:
        working-directory: ./client

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Scan code with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          exit-code: "1"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH,MEDIUM"
          scanners: "vuln"

      - name: setup flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.32.4

      - name: get deps
        run: flutter pub get

      - name: run lint
        run: flutter analyze

  # test-ios:
  #   name: Run iOS tests
  #   runs-on: [self-hosted, macOS]
  #   needs: lint
  #   defaults:
  #     run:
  #       working-directory: ./client/ios

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #       with:
  #         submodules: "recursive"
  #         token: ${{ secrets.PRIVATE_REPO_CLONING_TOKEN }}

  #     - name: setup flutter
  #       uses: subosito/flutter-action@v2
  #       with:
  #         channel: stable
  #         flutter-version: 3.32.6

  #     - name: get deps
  #       run: flutter pub get

  #     - name: Create BoringTun directory
  #       run: mkdir -p VPNExtension/BoringTun

  #     - name: Generate boringtun bindings
  #       run: cd boringtun && ./bindings.sh

  #     - name: Update CocoaPods
  #       run: pod repo update

  #     # - name: build project
  #     #   run: flutter build ios

  #     - name: Unlock Keychain
  #       run: security -v unlock-keychain -p "${{ secrets.KEYCHAIN_PASSWORD }}" /Users/admin/Library/Keychains/login.keychain

  #     - name: run plugin tests
  #       run: xcodebuild test -workspace Runner.xcworkspace -scheme Runner
